@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}

.skill-selector {
  position: relative;
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
}

.dropdown li:hover {
  background: #f0f0f0;
}

.selected-skills {
  margin-top: 10px;
}

.skill-tag {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
}

.skill-tag button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}
